betaAlternativecopy.ipynb
data.txt

FinalBeta.html
betaAlternativecopy.html

table_alg1.csv
table_alg2.csv

graph_alg1_prediction.png
graph_alg2_prediction.png

graph_empirical_comparison.png

image.png

betaAlternative.ipynb
